extends layout

block content
    
    br
    br
    br
    br
    br
    br
    
    .container
        .well
            h1 Site Admin
            p.lead This is the where the admin can manage projects and categories</p>
            br
            .div
                a.btn.btn-info.btn-sm(href="/admin/projects") Manage Projects
                &nbsp;&nbsp;
                a.btn.btn-info.btn-sm(href="/admin/categories") Manage Categories
    
    br
    br