extends layout

block content
    
    br
    br
    br
    br
    br
    br
    
    .container
        .well
            h1 Site Admin
            p.lead This is the where the admin can manage projects</p>
            br
            .div
                a.btn.btn-info.btn-sm(href="/admin/projects") Manage Projects
    
    br
    br