extends layout

block content
    header
        .container
            .row
                .col-lg-12
                    .intro-text
                        span.name Vaibhav Desai
                        hr.star-light
                        span.skills Wannabe Web Developer - All Things Backend