extends layout

block content
    header
        .container
            .row
                .col-lg-12
                    br
                    br
                    br
                    br
                    img.img-responsive(src="img/profile.png")
                    .intro-text
                        span.name Vaibhav Desai
                        hr.star-light
                        span.skills Software Engineer - All Things Backend
                    br
                    br
                    br