html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#about.success {
    background: #FFF;
    color: #000;
}